.container-fluid {
  position: relative;
  height: 100%;
  width: 100%;
  padding-left: 50px;
  padding-right: 20px;
}
header{
    background-image: url("../images/back1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
h1{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
}
#whyus{
    background-image: url("../images/gene4.jpg");
    background-size: cover;
    height: 50vh;
    text-align: center;
    color: white;
}
#about{
    text-align: center;
}
#security{
text-align: center;
}
ul li a:hover{
    background-color: darkslategrey;
}
ul li ul li{
    display: none;

}
ul li:hover ul li{
    display: block;
    text-align: left;
<<<<<<< HEAD
=======
}

input[type=text], select, textarea {
    width: 30%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 10px;
    resize: vertical;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
>>>>>>> bfd4f16d7d0d7ff0fc522bf130d93d1fa27a8c75
}
