header{
    background-image: url("../images/back1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
#whyus{
    background-image: url("../images/gene4.jpg");
    background-size: cover;
    height: 50vh;
    text-align: center;
    color: white;
}
#about{
    text-align: center;
}
#security{
text-align: center;
}