header{
    background-image: url("../images/back1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
nav li{
    display: inline-block;
    margin-left: 95px;
    padding: 30px;
    position: relative;
  }
h1{
    color: white;
    font-family: 'Courgette', cursive;
    font-size: 70px;
    text-align: center;
    text-decoration: underline;
}
#file h4{
    color: white;
    font-family: 'Courgette', cursive;
    font-size: 30px;
    background-color: blue;
    width: 300px;
    
}
.input{
    background-color: blue;
    color: white;
}
.reset{
    background-color: blue;
    color : white;
}
body{
    font-family: 'Quattrocento', serif;
}
#whyus{
    background-image: url("../images/gene4.jpg");
    background-size: cover;
    height: 50vh;
    text-align: center;
    color: white;
}
#about{
    text-align: center;
}
#security{
text-align: center;
}
ul li a:hover{
    background-color: darkslategrey;
}
ul li ul li{
    display: none;

}
ul li:hover ul li{
    display: block;
    text-align: left;
}

input[type=text], select, textarea {
    width: 30%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 10px;
    resize: vertical;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
  
  
  input[type=submit]:hover {
    background-color: #b7c4b8;
  }
   .reset:hover {
    background-color: #b7c4b8;
  }
  .form{
    padding-left:50px;
    color:black;
    padding-top: 230px;
}
 h4 {
    color: black;
    font-size:40px;
    font-weight: 20px;
}
textarea {
    width: 500px;
    height: 150px;
}

#file{
      padding-left:100px;
  }
  #about{
    font-family: 'Quattrocento', serif;
    text-align: center;
    font-size: 20px;
  }
#diseases{
text-align: center;

}
ol.dislist{
    text-align: center;
    list-style-position: inside;
}
#whyus{
    font-size: 20px;
    font-family: 'Quattrocento', serif;
    font-weight: bold;
    

}
.sickleCell{
    margin-top: 25px;
    font-family: 'Courgette', cursive;
}
.cystic{
    margin-top: 35px;
    padding-top: 60px;
    font-family: 'Courgette', cursive;
}
.tay{
    margin-top: 25px;
    padding-top: 20px;
    font-family: 'Courgette', cursive;
}
.fragilo{
    margin-top: 35px;
    padding-top: 50px;
    font-family: 'Courgette', cursive;
}
.security{
    font-size: 15px;
}
#security h2{
    font-size: 20px;
}
#security{
    margin-top: 20px;
    padding-top: 30px;
}